################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/suspAcc-Tools/FileContentIndex/6883a93b-d036-44ab-a84e-a83f99d6eb00.vsidx
/myCalc/.vs/myCalc/FileContentIndex/669f1d33-81ed-4de2-8071-ae6f0e79fec4.vsidx
