################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/suspAcc-Tools/FileContentIndex/6883a93b-d036-44ab-a84e-a83f99d6eb00.vsidx
